<!DOCTYPE html>
<html>
    <head>
        <title>Chitkara Hub</title>
        <link rel="icon" href="./logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&family=Goblin+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel = "stylesheet" href = "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@432&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    </head>
    <body>
    <!-- header -->
        <header class="p-3 bg-dark text-white">
            <div class="container">
              <div class="flex-row align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <img class="upper-logo" src="./upper-logo.png"/>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                  <li><a href="https://chitkarahub.herokuapp.com/" class="nav-link px-2 text-white ">CUIET Clubs</a></li>
                  <li><a href="/contact" class="nav-link px-2 text-white ">Contact</a></li>
                  <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
                  <li class="imp"><p>Hi <%= name %></p></li>
                  <li class="formli"><form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="logout">LOG OUT</button>
                  </form></li>
                </ul>
          </header>
          <!-- slider code -->
    
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators" style="margin-left: 4%;">
                <li data-target="#myCarousel" data-slide-to="0" class="active" class="t"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="t"></li>
                <li data-target="#myCarousel" data-slide-to="2" class="t"></li>
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
          
                <div class="item active">
                  <img src="main.jpeg" alt="main pic" class="responsive">
                </div>
          
                <div class="item">
                  <img src="main12.jpeg" alt="main12 pic" class="responsive" >
                </div>
              
                <div class="item">
                  <img src="main3.jpg" alt="main22 pic" class="responsive">
                </div>
            
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          
     <!-- articles  -->

<div style="height:30%;width:100%;" class="beech"><h1>ARTICLES</h1></div>

<div class="article">
<a href="/articles/new">
  <div class="col">
<div class="add card shadow-sm" >
<i class="fas fa-plus-circle fa-5x"></i></div></a>
<!-- <div class="card-body">
  <p>Submit your article</p>
  <div class="d-flex justify-content-between align-items-center">

  </div> -->
</div>

</div>
<div class="container midarticle">
 <% articles.forEach(article => { %>
  <div class="row">
     <div class="card-body col-sm">
     <h2 class="card-title"> <%= article.title %> </h2>
     <div class="card-text mb-2"><h4><%= article.description %></h4></div>
     <div class="card-subtitle text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
      </div>
     <div class="buttons">
          <a href="articles/<%= article.slug %>" class="readmore">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="edit">Edit</a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="delete"><i class="fas fa-trash"></i></button>
          </form>
        </div>
        </div>
        </div>
<% }) %>
     
</div>
    <!-- footer -->

    
     <div class="footer">
     <img class="logo" src="./logo.png">
  <p class="love">Made with ♥ for Chitkarians.</p>
  <div class="last-div">
  <a href="https://www.instagram.com/chitkarau/"  class="last"><i class="fab fa-instagram fa-2x"></i></a>
  <a href="https://www.facebook.com/ChitkaraU/"  class="last"><i class="fab fa-facebook fa-2x"></i></a>
  <a href="https://twitter.com/ChitkaraU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  class="last"><i class="fab fa-twitter fa-2x"></i></a>
  <a href="https://www.linkedin.com/school/chitkara-university/?originalSubdomain=in"  class="last"><i class="fab fa-linkedin fa-2x"></i></a>

  </div>
  <p class="copyright">Copying Content/Ideas of Chitkara Hub without express and written permission from this site’s owner is strictly prohibited. Excerpts and links may be used, provided that full and clear credit is given to Chitkara Hub with appropriate and specific direction to the original content.

We are not associated with Chitkara in any way. All information provided in this website is for general information only and is not official information from the institute.
<br><br><br>
Copyright © 2021 Chitkara Hub Network</p>
       </div>
    </body>
</html>